# Could be `development` or `production` depending on your environment.
# Defaults to `development` if not specified.
NODE_ENV=development

# Authentication token for the bot, you can get this from the Discord Developer
# Portal (https://discord.com/developers/applications).
DISCORD_TOKEN=XXXXXX.YYYYYY.ZZZZZZ

# The supported levels are: 0 = silly, 1 = trace, 2 = debug, 3 = info, 4 = warn,
# 5 = error, 6 = fatal
LOG_LEVEL=2
